GOF_casestudy.pdf
case_Study_GOF.png
model_fit_withoutNA.png
modelcheck.png
modperf_block_pripost.png
modperf_p_priorsens.png
modperf_p_pripost.png
modperf_site&block_prisens.png
modperf_site_pripost.png
modperf_va_snowbed_mustela_rodent_p.png
modperf_va_snowbed_mustela_rodent_psi.png
modperf_va_snowbed_mustela_rodent_site&block.png
